@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to right, #FD00AE, #E30BE2);
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(105, 9, 153, 0.775);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #9C0BE6;
    text-align: center;
    text-shadow: 1px 2px 2px #4e0772ef;
}

h2{
    color: #840DFD;
}


p {
    text-align: justify;
}